.filemanage-window{
     padding:80px 10px 10px 10px;
    .filemanage-form{
         height: 100%;
        .resize-drag{
            height: 70px;
        }
        .input-group{
             position: absolute;
             top: 44px;
            width: 100%;
            & .arrow-left,& .arrow-right{
                height: 28px;
                width: 32px;
                margin: 2px 2px;
                box-sizing: border-box;
                float: left;
                border: 1px solid #333;
                box-shadow: inset 0px 0px 10px #fff,0px 1px 5px #333;
                background: linear-gradient(rgba(0, 120, 240, 0.1) 0%, rgba(0, 120, 240, 0.6) 45%, #0078f0 46%, rgba(0, 120, 240, 0.7) 96%, rgba(240, 240, 240, 0.4) 100%);
                border-radius: 32px;
                padding: 5px;
                text-align:center;
                &:hover{
                    box-shadow: inset 0px -5px 20px #fff,0px 1px 5px #333;
                }
                img{
                    height: 18px;
                    width: 18px;
                }
            }
            .nav-input{
                position: absolute;
                left: 80px;
                height: 28px;
                right: 160px;
                background-color: #C5D4E4;
                width: auto;
                overflow: hidden;
                border: 1px solid #333;
                box-shadow: 0px 0px 1px #fff,inset 0px 0px 3px #fff;
                border-radius: 3px;
                &:hover,&:focus{
                    border: 1px solid #555;
                    background-color: #fff;
                    box-shadow: 0px 0px 1px #999,inset 0px 0px 3px #999;
                }
                img{
                    height: 24px;
                    width: 24px;
                    margin: 2px;
                }
                input{
                    position: absolute;
                    top: 1px;
                    left: 28px;
                    right: 1px;
                    display: inline-block;
                    height: 24px;
                    border: 0px;
                    font-size: 14px;
                    background-color: transparent;
                    width: 100%;
                    color: #333;
                    outline: none;
                }
            }
            .search-input{
                position: absolute;
                right: 21px;
                width: 130px;
                height: 28px;
                background-color: #C5D4E4;
                overflow: hidden;
                border: 1px solid #333;
                box-shadow: 0px 0px 1px #fff,inset 0px 0px 3px #fff;
                border-radius: 3px;
                &:hover,&:focus{
                    border: 1px solid #555;
                    background-color: #fff;
                    box-shadow: 0px 0px 1px #999,inset 0px 0px 3px #999;
                }
                input{
                    position: absolute;
                    top: 1px;
                    right: 28px;
                    display: inline-block;
                    height: 24px;
                    border: 0px;
                    font-size: 14px;
                    background-color: transparent;
                    width: 100px;
                    color: #333;
                    outline: none;
                }
                img{
                    height: 24px;
                    width: 24px;
                    margin: 2px;
                    float: right;
                }
            }
        }
        .menu-bar{
                background: linear-gradient(#FFFFFF 0%, #E5EAF5 40%, #D4DBEE 41%, #E1E6F6 96%, #E1E6F6 100%);
                border-bottom: 1px solid #B6BCCC;
                height: 26px;
                width: 100%;
                box-sizing: border-box;
            .menu{
                 height: 23px;
                 line-height: 23px;
                 margin-top: 1px;
                 margin-right: 4px;
                 float: left;
                 color: #333;
                 font-size: 14px;
                 padding: 0px 8px;
                &:first-child{
                    margin-left: 2px;
                }
                 &:hover{
                    background-color: rgba(0,120,240,1);
                 }
            }
        }
        .toolbar{
                background: linear-gradient(#FAFCFD 0%, #E6F0FA 50%, #DCE6F4 51%, #CDDAEA 96%, #CDDAEA 100%);
                border-bottom: 1px solid #A0AFC3;
                height: 33px;
                width: 100%;
                box-sizing: border-box;
                color: #1E395B;
                .tool-button{
                    border: 1px solid transparent;
                    padding: 0px 15px;
                    margin: 3px 0px;
                    display:inline-block;
                    height: 24px;
                    line-height: 24px;
                    border-radius: 4px;
                    font-size: 14px;
                &:first-child{
                    margin-left: 3px;
                }
                    &:hover{
                        border: 1px solid #A0AFC3;
                        background-color: rgba(255,255,255,0.3);
                        box-shadow:inset 0px 0px 3px #fff;
                    }
                }
        }
        .main-content{
            width: auto;
            position: absolute;
            height: auto;
            top: 140px;
            bottom: 60px;
            left: 11px;
            right: 11px;
            .dir-tree{
                width: 220px;
                border-right: 1px solid #D6E5F5;
                height: 100%;
                display: inline-block;
            }
        }
        .statusbar{
                position: absolute;
                bottom: 11px;
                height: 52px;
                border-top: 1px solid #E3E9F2;
                width: auto;
                box-shadow: inset 0px 2px 6px #C8D6E9;
                left: 11px;
                right: 11px;
                background-color: #F1F5FB;
        }
    }
}