/*base*/
.btn {
  cursor: pointer;
  border-radius: 5px;
  background: linear-gradient(rgba(0, 120, 240, 0.4) 0%, rgba(0, 120, 240, 0.3) 40%, rgba(0, 120, 240, 0.6) 41%, rgba(0, 120, 240, 0.3) 100%);
  height: 30px;
  width: 120px;
  padding: 0px;
  border: 1px solid #333;
  box-shadow: inset 0px 0px 3px #fff,0px 0px 3px #fff;
  overflow: hidden;
  color: #fff;
  line-height: 30px;
  display: inline-block;
  font-size: 14px;
  text-align: center;
}
/*buttons*/
.btn-start-menu {
  border-radius: 5px;
  background: transparent;
  width: 140px;
  height: 30px;
  padding: 0px;
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px transparent;
  overflow: hidden;
  margin-bottom: 5px;
  line-height: 30px;
  text-align: left;
}
.btn-start-menu:hover {
  background: linear-gradient(rgba(240, 240, 240, 0.3) 0%, rgba(240, 240, 240, 0.3) 45%, #0078f0 46%, rgba(0, 120, 240, 0.7) 96%, rgba(240, 240, 240, 0.4) 100%);
  border: 1px solid #333;
  box-shadow: inset 0px 0px 3px #fff,0px 0px 3px #fff;
}
.btn-close-system {
  text-align: center;
  height: 24px;
  line-height: 24px;
  width: 100px;
  border: 1px solid #333;
  box-shadow: inset 0px 0px 3px #fff,0px 0px 3px #fff;
  background: linear-gradient(rgba(240, 240, 240, 0.3) 0%, rgba(240, 240, 240, 0.3) 45%, #0078f0 46%, rgba(0, 120, 240, 0.7) 96%, rgba(240, 240, 240, 0.4) 100%);
}
.btn-close-system:hover {
  box-shadow: inset 0px 0px 20px #fff,0px 0px 3px #fff;
}
.btn-icon {
  width: 278px;
  height: 36px;
  background: transparent;
  border: 1px solid transparent;
  margin: 1px 2px;
  text-align: left;
}
.btn-icon:hover {
  background-color: rgba(0, 120, 240, 0.3);
  background: linear-gradient(rgba(0, 120, 240, 0.4) 0%, rgba(0, 120, 240, 0.2) 45%, rgba(0, 120, 240, 0.5) 46%, rgba(0, 120, 240, 0.4) 96%, rgba(240, 240, 240, 0.3) 100%);
  box-shadow: inset 0px 0px 3px #fff;
  border: 1px solid rgba(0, 120, 240, 0.7);
}
/*window buttons*/
.btn-win {
  width: 35px;
  line-height: 20px;
  height: 20px;
  padding: 0px;
  border-top: 0px solid transparent;
  border-radius: 0px;
  box-shadow: 0px 0px 3px #fff,inset 0px 0px 3px #fff;
  box-sizing: border-box;
  background: linear-gradient(rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.1) 40%, rgba(0, 120, 240, 0.7) 41%, rgba(0, 120, 240, 0.3) 100%);
}
.btn-win:hover {
  box-shadow: 0px 0px 20px #fff,inset 0px 0px 10px #fff;
  background: linear-gradient(rgba(0, 120, 240, 0.3) 0%, rgba(0, 120, 240, 0.1) 40%, #0078f0 41%, rgba(0, 120, 240, 0.6) 100%);
}
.btn-win-max {
  border: 0px solid transparent;
  border-bottom: 1px solid #333;
}
.btn-win-close {
  width: 60px;
  border-top: 0px solid transparent;
  background: linear-gradient(rgba(240, 30, 40, 0.8) 0%, rgba(240, 30, 40, 0.6) 40%, #f01e28 41%, rgba(240, 30, 40, 0.6) 100%);
}
.btn-win-close:hover {
  background: linear-gradient(rgba(240, 30, 40, 0.8) 0%, rgba(240, 30, 40, 0.6) 40%, #f01e28 41%, rgba(240, 30, 40, 0.6) 100%);
}
/*window*/
.win {
  cursor: pointer;
  border-radius: 3px;
  background-color: rgba(0, 120, 240, 0.5);
  z-index: 999;
  position: absolute;
  border: 1px solid #333;
  box-shadow: inset 0px 0px 3px #fff;
  overflow: hidden;
  box-sizing: content-box;
}
.win-content {
  background-color: #fff;
  border: 1px solid #666;
  box-shadow: 0px 0px 3px #fff;
  box-sizing: border-box;
  overflow: auto;
}
.win-btns {
  position: absolute;
  top: 0px;
  right: 10px;
  background-color: rgba(0, 120, 240, 0.3);
  height: 20px;
}
.win-btns .btn:first-child {
  border-bottom-left-radius: 5px;
}
.win-btns .btn:last-child {
  border-bottom-right-radius: 5px;
}
.widget {
  padding: 10px;
}
.window,
.dialog {
  border-radius: 10px 10px 5px 5px;
  padding: 40px 10px 10px 10px;
}
/*window resize*/
.resize-ns-n {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 10px;
  cursor: ns-resize;
}
.resize-ns-s {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 10px;
  cursor: ns-resize;
}
.resize-ew-e {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 10px;
  height: 100%;
  cursor: ew-resize;
}
.resize-ew-w {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 10px;
  height: 100%;
  cursor: ew-resize;
}
.resize-ne {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 10px;
  height: 10px;
  cursor: nw-resize;
}
.resize-nw {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 10px;
  height: 10px;
  cursor: ne-resize;
}
.resize-se {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 10px;
  height: 10px;
  cursor: sw-resize;
}
.resize-sw {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 10px;
  height: 10px;
  cursor: se-resize;
}
.resize-drag {
  position: absolute;
  top: 10px;
  width: 100%;
  height: 30px;
  left: 0px;
  cursor: move;
}
/* taskbar */
.taskbar {
  background-color: rgba(0, 120, 240, 0.5);
  height: 46px;
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: 0px;
  box-shadow: inset 0px 0px 2px #fff;
  border-top: 1px solid #333;
}
.taskbar .taskbar-buttons {
  position: absolute;
  height: 46px;
  left: 57px;
  bottom: 0px;
}
.taskbar .startmenu {
  height: 46px;
  width: 57px;
  background-position: 0 -6px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  cursor: pointer;
}
.taskbar .startmenu:hover {
  background-position: 0 -114px;
}
/*desktop*/
.desktop-button-container {
  height: 100px;
  width: 80px;
  position: absolute;
  z-index: 1;
}
.desktop-button {
  margin: 10px 4px;
  cursor: pointer;
  border-radius: 3px;
  background-color: transparent;
  border: 2px solid transparent;
}
.desktop-button:hover {
  background-color: rgba(255, 255, 255, 0.4);
  border: 2px solid rgba(255, 255, 255, 0.4);
}
.desktop-button-icon {
  width: 40px;
  height: 40px;
  margin: 0px 14px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.desktop-button-name {
  margin: 0px;
  padding: 0px;
  text-align: center;
  width: 100%;
  color: #fff;
  margin-top: 5px;
  font-size: 12px;
}
.desktop {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}
.desktop .windows-container {
  width: 100%;
  height: 100%;
  z-index: 2;
}
.desktop .resize-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1001;
  top: 0px;
  cursor: default;
}
.desktop .snapshots {
  height: 180px;
  position: absolute;
  left: 130px;
  bottom: 3px;
  border: 1px solid #333333;
  box-shadow: #ffffff 0px 0px 3px inset;
  border-radius: 5px;
  display: none;
  box-sizing: border-box;
  background-color: rgba(0, 124, 240, 0.5);
  z-index: 3;
}
.desktop .snapshots .snapshot {
  background-color: transparent;
  margin: 10px 5px 5px 5px;
  height: 165px;
  width: 240px;
  cursor: pointer;
  bottom: 0px;
  border-radius: 5px;
  position: absolute;
}
.desktop .snapshots .snapshot .snapshot-header {
  height: 28px;
  padding: 0px;
  margin: 0px;
  color: #fff;
  font-size: 12px;
}
.desktop .snapshots .snapshot .snapshot-header .header-img {
  height: 20px;
  width: 20px;
  margin: 5px;
  float: left;
}
.desktop .snapshots .snapshot .snapshot-header .header-title {
  line-height: 30px;
  height: 30px;
  width: 180px;
  vertical-align: middle;
  display: inline;
  float: left;
}
.desktop .snapshots .snapshot .snapshot-header .header-close {
  background-color: #B0171F;
  border: 1px solid #333;
  box-shadow: inset 0px 0px 3px #fff,0px 0px 3px #fff;
  height: 20px;
  width: 20px;
  margin: 5px;
  line-height: 20px;
  border-radius: 5px;
  float: right;
  vertical-align: middle;
  text-align: center;
  box-sizing: border-box;
  display: none;
}
.desktop .snapshots .snapshot .snapshot-body {
  height: 130px;
  width: 230px;
  text-align: center;
  vertical-align: middle;
}
.desktop .snapshots .snapshot .snapshot-body .body-img {
  width: 230px;
  height: 135px;
  padding: 0px 5px;
}
.desktop .snapshots .snapshot:hover {
  background-color: rgba(0, 120, 240, 0.7);
  box-shadow: inset 0px 0px 3px #fff;
}
.desktop .snapshots .snapshot:hover .snapshot-header .header-close {
  display: inline;
}
.desktop .desktop-buttons {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
}
/*app store window*/
.appstore-form {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #F3F9EE;
}
.appstore-form .appstore-category {
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  min-height: 200px;
}
.appstore-form .appstore-category .category-name {
  background-color: cadetblue;
  height: 32px;
  line-height: 32px;
  color: #fff;
  padding-left: 20px;
}
.appstore-form .appstore-category .app-content {
  display: inline-block;
  width: 100px;
  height: 120px;
  margin: 20px;
  background-color: rgba(245, 245, 220, 0.7);
  line-height: 32px;
  text-align: center;
  color: #555;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 1px 1px 5px #555;
  position: relative;
}
.appstore-form .appstore-category .app-content .app-item {
  border-top: 2px solid #f0f0f0;
}
.appstore-form .appstore-category .app-content .app-item.add-app {
  color: brown;
}
.appstore-form .appstore-category .app-content .app-icon {
  width: 64px;
  height: 64px;
  margin: 10px auto;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.appstore-form .appstore-category .app-content:hover {
  box-shadow: 3px 3px 10px #555;
  top: -2px;
  left: -2px;
}
.appstore-form .appstore-category .app-content:hover .app-item.add-app {
  color: red;
}
/*app manage window*/
.appmanage-form {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #F3F9EE;
}
.appmanage-form .apps {
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  min-height: 200px;
}
.appmanage-form .apps .app-type {
  background-color: cadetblue;
  height: 32px;
  line-height: 32px;
  color: #fff;
  padding-left: 20px;
}
.appmanage-form .apps .app-content {
  display: inline-block;
  width: 100px;
  height: 120px;
  margin: 20px;
  background-color: rgba(245, 245, 220, 0.7);
  line-height: 32px;
  text-align: center;
  color: #555;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 1px 1px 5px #555;
  position: relative;
}
.appmanage-form .apps .app-content .app-item {
  border-top: 2px solid #f0f0f0;
}
.appmanage-form .apps .app-content .app-item.add-app {
  color: brown;
}
.appmanage-form .apps .app-content .app-icon {
  width: 64px;
  height: 64px;
  margin: 10px auto;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.appmanage-form .apps .app-content:hover {
  box-shadow: 3px 3px 10px #555;
  top: -2px;
  left: -2px;
}
.appmanage-form .apps .app-content:hover .app-item.add-app {
  color: red;
}
.appmanage-form .apps .no-my-apps {
  padding-left: 20px;
  color: #333;
  line-height: 44px;
}
.appmanage-form .apps .no-my-apps .btn-add-myapp {
  color: brown;
}
.appmanage-form .apps .no-my-apps .btn-add-myapp:hover,
.appmanage-form .apps .no-my-apps .btn-add-myapp:visited {
  color: red;
}
/*login page*/
.login-form {
  position: absolute;
  width: 100%;
  height: 100%;
}
.login-form-user-image {
  height: 90px;
  width: 90px;
  padding: 8px;
  border-radius: 10px;
  border: 1px solid #333;
  box-shadow: 0px 0px 10px #333;
  margin: 0px 60px;
}
.login-form-image-container {
  width: 90px;
  height: 90px;
  background-color: #fff;
  border: 1px solid #333;
  border-radius: 4px;
  padding: 8px;
  box-sizing: border-box;
}
.login-form-container {
  position: absolute;
  left: 0px;
  bottom: 55%;
  height: 40px;
  width: 100%;
}
.login-form-row {
  width: 300px;
  height: 40px;
  margin: 0px auto;
}
.login-form-row.hight-row {
  width: 300px;
  height: 120px;
  margin: 10px auto;
}
.login-form-user {
  font-family: Arial;
  font-size: 28px;
  color: #fff;
  text-align: center;
  width: 240px;
  display: inline-block;
  font-weight: lighter;
}
.login-form-password {
  box-sizing: border-box;
  border: 1px solid #000;
  box-shadow: 0px 0px 2px #fff,0px 1px 5px #333;
  width: 240px;
  height: 28px;
  margin: 6px 5px;
  padding: 1px 5px;
  display: inline-block;
  float: left;
  border-radius: 5px;
  font-size: 18px;
}
.login-form-submit {
  height: 36px;
  width: 36px;
  margin: 2px 7px;
  box-sizing: border-box;
  float: left;
  border: 1px solid #333;
  box-shadow: inset 0px 0px 10px #fff,0px 1px 5px #333;
  background: linear-gradient(rgba(0, 120, 240, 0.1) 0%, rgba(0, 120, 240, 0.6) 45%, #0078f0 46%, rgba(0, 120, 240, 0.7) 96%, rgba(240, 240, 240, 0.4) 100%);
  border-radius: 36px;
  padding: 5px;
}
.login-form-submit:hover {
  box-shadow: inset 0px 0px 10px #fff, 0px 2px 5px #333, inset 0px -2px 10px #fff;
}
/*widget startmenu*/
.widget-startmenu {
  cursor: pointer;
  border-radius: 10px 10px 0px 0px;
  background-color: rgba(0, 120, 240, 0.9);
  z-index: 1000;
  position: absolute;
  padding: 10px;
  border: 1px solid #333;
  box-shadow: inset 0px 0px 3px #fff;
}
.widget-startmenu .icon-buttons {
  border: 1px solid #666;
  box-shadow: 0px 0px 3px #fff;
  display: inline-block;
  border-radius: 5px;
  overflow: hidden;
  background-color: #fff;
  width: 284px;
  height: 540px;
  position: absolute;
}
.widget-startmenu .startmenu-buttons {
  background-color: transparent;
  margin: 0px;
  padding: 10px;
  height: 100%;
  display: inline-block;
  position: absolute;
  left: 297px;
  width: 145px;
  box-sizing: border-box;
  top: 56px;
}
.filemanage-window {
  padding: 80px 10px 10px 10px;
}
.filemanage-window .filemanage-form {
  height: 100%;
}
.filemanage-window .filemanage-form .resize-drag {
  height: 70px;
}
.filemanage-window .filemanage-form .input-group {
  position: absolute;
  top: 44px;
  width: 100%;
}
.filemanage-window .filemanage-form .input-group .arrow-left,
.filemanage-window .filemanage-form .input-group .arrow-right {
  height: 28px;
  width: 32px;
  margin: 2px 2px;
  box-sizing: border-box;
  float: left;
  border: 1px solid #333;
  box-shadow: inset 0px 0px 10px #fff,0px 1px 5px #333;
  background: linear-gradient(rgba(0, 120, 240, 0.1) 0%, rgba(0, 120, 240, 0.6) 45%, #0078f0 46%, rgba(0, 120, 240, 0.7) 96%, rgba(240, 240, 240, 0.4) 100%);
  border-radius: 32px;
  padding: 5px;
  text-align: center;
}
.filemanage-window .filemanage-form .input-group .arrow-left:hover,
.filemanage-window .filemanage-form .input-group .arrow-right:hover {
  box-shadow: inset 0px -5px 20px #fff, 0px 1px 5px #333;
}
.filemanage-window .filemanage-form .input-group .arrow-left img,
.filemanage-window .filemanage-form .input-group .arrow-right img {
  height: 18px;
  width: 18px;
}
.filemanage-window .filemanage-form .input-group .nav-input {
  position: absolute;
  left: 80px;
  height: 28px;
  right: 160px;
  background-color: #C5D4E4;
  width: auto;
  overflow: hidden;
  border: 1px solid #333;
  box-shadow: 0px 0px 1px #fff,inset 0px 0px 3px #fff;
  border-radius: 3px;
}
.filemanage-window .filemanage-form .input-group .nav-input:hover,
.filemanage-window .filemanage-form .input-group .nav-input:focus {
  border: 1px solid #555;
  background-color: #fff;
  box-shadow: 0px 0px 1px #999,inset 0px 0px 3px #999;
}
.filemanage-window .filemanage-form .input-group .nav-input img {
  height: 24px;
  width: 24px;
  margin: 2px;
}
.filemanage-window .filemanage-form .input-group .nav-input input {
  position: absolute;
  top: 1px;
  left: 28px;
  right: 1px;
  display: inline-block;
  height: 24px;
  border: 0px;
  font-size: 14px;
  background-color: transparent;
  width: 100%;
  color: #333;
  outline: none;
}
.filemanage-window .filemanage-form .input-group .search-input {
  position: absolute;
  right: 21px;
  width: 130px;
  height: 28px;
  background-color: #C5D4E4;
  overflow: hidden;
  border: 1px solid #333;
  box-shadow: 0px 0px 1px #fff,inset 0px 0px 3px #fff;
  border-radius: 3px;
}
.filemanage-window .filemanage-form .input-group .search-input:hover,
.filemanage-window .filemanage-form .input-group .search-input:focus {
  border: 1px solid #555;
  background-color: #fff;
  box-shadow: 0px 0px 1px #999,inset 0px 0px 3px #999;
}
.filemanage-window .filemanage-form .input-group .search-input input {
  position: absolute;
  top: 1px;
  right: 28px;
  display: inline-block;
  height: 24px;
  border: 0px;
  font-size: 14px;
  background-color: transparent;
  width: 100px;
  color: #333;
  outline: none;
}
.filemanage-window .filemanage-form .input-group .search-input img {
  height: 24px;
  width: 24px;
  margin: 2px;
  float: right;
}
.filemanage-window .filemanage-form .menu-bar {
  background: linear-gradient(#FFFFFF 0%, #E5EAF5 40%, #D4DBEE 41%, #E1E6F6 96%, #E1E6F6 100%);
  border-bottom: 1px solid #B6BCCC;
  height: 26px;
  width: 100%;
  box-sizing: border-box;
}
.filemanage-window .filemanage-form .menu-bar .menu {
  height: 23px;
  line-height: 23px;
  margin-top: 1px;
  margin-right: 4px;
  float: left;
  color: #333;
  font-size: 14px;
  padding: 0px 8px;
}
.filemanage-window .filemanage-form .menu-bar .menu:first-child {
  margin-left: 2px;
}
.filemanage-window .filemanage-form .menu-bar .menu:hover {
  background-color: #0078f0;
}
.filemanage-window .filemanage-form .toolbar {
  background: linear-gradient(#FAFCFD 0%, #E6F0FA 50%, #DCE6F4 51%, #CDDAEA 96%, #CDDAEA 100%);
  border-bottom: 1px solid #A0AFC3;
  height: 33px;
  width: 100%;
  box-sizing: border-box;
  color: #1E395B;
}
.filemanage-window .filemanage-form .toolbar .tool-button {
  border: 1px solid transparent;
  padding: 0px 15px;
  margin: 3px 0px;
  display: inline-block;
  height: 24px;
  line-height: 24px;
  border-radius: 4px;
  font-size: 14px;
}
.filemanage-window .filemanage-form .toolbar .tool-button:first-child {
  margin-left: 3px;
}
.filemanage-window .filemanage-form .toolbar .tool-button:hover {
  border: 1px solid #A0AFC3;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0px 0px 3px #fff;
}
.filemanage-window .filemanage-form .main-content {
  width: auto;
  position: absolute;
  height: auto;
  top: 140px;
  bottom: 60px;
  left: 11px;
  right: 11px;
}
.filemanage-window .filemanage-form .main-content .dir-tree {
  width: 220px;
  border-right: 1px solid #D6E5F5;
  height: 100%;
  display: inline-block;
}
.filemanage-window .filemanage-form .main-content .dir-tree:hover .tree-view .tree-name .toggle-show {
  opacity: 1;
}
.filemanage-window .filemanage-form .main-content .dir-tree:hover .tree-view .tree-name .toggle-hidden {
  opacity: 1;
}
.filemanage-window .filemanage-form .main-content .dir-tree .root {
  height: 100%;
  width: 100%;
  padding-top: 15px;
}
.filemanage-window .filemanage-form .main-content .dir-tree .root .desktop {
  position: static;
  clear: both;
  padding-top: 15px;
}
.filemanage-window .filemanage-form .main-content .dir-tree .tree-root {
  margin-top: 5px;
}
.filemanage-window .filemanage-form .main-content .dir-tree .tree-view .tree-name {
  height: 24px;
  line-height: 24px;
  color: #333;
  font-weight: lighter;
  font-size: 12px;
  clear: both;
  border: 1px solid transparent;
  border-radius: 4px;
}
.filemanage-window .filemanage-form .main-content .dir-tree .tree-view .tree-name.active {
  background-color: rgba(0, 120, 240, 0.1);
  border: 1px solid rgba(0, 120, 240, 0.5);
}
.filemanage-window .filemanage-form .main-content .dir-tree .tree-view .tree-name:hover {
  background-color: rgba(0, 120, 240, 0.2);
  border: 1px solid rgba(0, 120, 240, 0.7);
}
.filemanage-window .filemanage-form .main-content .dir-tree .tree-view .tree-name:hover .toggle-show {
  border-left: 9px solid #aaa;
}
.filemanage-window .filemanage-form .main-content .dir-tree .tree-view .tree-name:hover .toggle-hidden {
  border-top: 8px solid #ccc;
}
.filemanage-window .filemanage-form .main-content .dir-tree .tree-view .tree-name span {
  display: inline-block;
  float: left;
}
.filemanage-window .filemanage-form .main-content .dir-tree .tree-view .tree-name .toggle-show {
  height: 0px;
  width: 0px;
  margin: 7px 3px;
  box-sizing: border-box;
  border-top: 5px solid transparent;
  border-left: 9px solid #888;
  border-bottom: 5px solid transparent;
  opacity: 0;
}
.filemanage-window .filemanage-form .main-content .dir-tree .tree-view .tree-name .toggle-show:hover {
  border-left: 9px solid #ccc;
  box-shadow: inset 0px 0px 3px #fff;
}
.filemanage-window .filemanage-form .main-content .dir-tree .tree-view .tree-name .toggle-hidden {
  height: 0px;
  width: 0px;
  margin: 8px 3px;
  box-sizing: border-box;
  border-left: 5px solid transparent;
  border-top: 8px solid #888;
  border-right: 5px solid transparent;
  opacity: 0;
}
.filemanage-window .filemanage-form .main-content .dir-tree .tree-view .tree-name .toggle-hidden:hover {
  border-top: 8px solid #ccc;
  box-shadow: inset 0px 0px 3px #fff;
}
.filemanage-window .filemanage-form .main-content .dir-tree .tree-view .tree-name .tree-img {
  width: 22px;
  height: 22px;
  margin: 1px 6px;
  display: inline-block;
  background-size: cover;
}
.filemanage-window .filemanage-form .main-content .dir-tree .tree-view .tree-children {
  clear: both;
  padding-left: 14px;
}
.filemanage-window .filemanage-form .main-content .dir-content {
  position: absolute;
  left: 220px;
  right: 0px;
  height: 100%;
  top: 0px;
}
.filemanage-window .filemanage-form .main-content .dir-content .dir-list .list-item {
  display: inline-block;
  width: 120px;
  margin: 10px;
  border: 1px solid transparent;
  border-radius: 5px;
}
.filemanage-window .filemanage-form .main-content .dir-content .dir-list .list-item.active {
  background-color: rgba(0, 120, 240, 0.1);
  border: 1px solid rgba(0, 120, 240, 0.5);
}
.filemanage-window .filemanage-form .main-content .dir-content .dir-list .list-item:hover {
  background-color: rgba(0, 120, 240, 0.3);
  border: 1px solid rgba(0, 120, 240, 0.7);
}
.filemanage-window .filemanage-form .main-content .dir-content .dir-list .list-item .item-img {
  width: 80px;
  height: 80px;
  margin: 0px 20px;
}
.filemanage-window .filemanage-form .main-content .dir-content .dir-list .list-item .item-label {
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: #333;
}
.filemanage-window .filemanage-form .statusbar {
  position: absolute;
  bottom: 11px;
  height: 52px;
  border-top: 1px solid #E3E9F2;
  width: auto;
  box-shadow: inset 0px 2px 6px #C8D6E9;
  left: 11px;
  right: 11px;
  background-color: #F1F5FB;
}
.filemanage-window .filemanage-form .statusbar .target-item {
  height: 100%;
  width: 230px;
  position: relative;
}
.filemanage-window .filemanage-form .statusbar .target-item .item-img {
  position: absolute;
  left: 3px;
  top: 11px;
}
.filemanage-window .filemanage-form .statusbar .target-item .item-content {
  position: absolute;
  left: 56px;
  top: 11px;
  color: #333;
  font-size: 14px;
  line-height: 22px;
}
.filemanage-window .filemanage-form .statusbar .progress {
  position: absolute;
  height: 100%;
  left: 56px;
  top: 10px;
  line-height: 22px;
  color: #333;
  font-size: 14px;
}
